.typo-xxl {
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
}

.typo-xl {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.typo-l {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

.typo-m {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.typo-s {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.typo-xs {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}